
#map,
table,
td,
th,
tr {
	border: 3px solid #000;
}
#map,
.controls {
	clear: both;
	float: left;
}
table,
td,
th,
tr {
	border-collapse: collapse;
}
body,
html,
.viewer {
	height: 98%;
    max-height: 500px;
}
#map {
	cursor: crosshair;
	padding: 0;
	margin: 0;
}
.controls {
	margin-top: 4px;
	text-align: center;
	font: 700 20px Courier New;
	line-height: 1.2;
}
.controls > tbody > tr > td {
	height: 100%;
	width: 20%;
	padding: 0;
}
.controls > tbody > tr > td > div {
	position: relative;
	height: 100%;
	width: 100%;
}
.controls > tbody > tr > td > div:before {
	width: 100%;
	height: 20%;
	content: '';
	float: left;
	clear: both;
}
.controls > tbody > tr > td > div .changer-holder {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 0.66667em;
	height: 1.3em;
}
#barHolder,
#barHolder #fuelBar,
#bestscore,
#fuelText,
#score {
	position: relative;
}
.controls > tbody > tr > td > div .changer-holder .changer {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
	cursor: pointer;
	background-color: #fff;
	transition: color, background-color 25ms ease;
}
.controls > tbody > tr > td > div .changer-holder .changer:hover {
	background-color: #00f !important;
	color: #ff0 !important;
}
#ammo {
	width: 100%;
	height: 20%;
}
#ammo,
#ammo td,
#ammo tr {
	border: 0;
}
#ammo td {
	padding: 0;
	height: 100%;
	width: initial;
}
#ammo td > div {
	margin: 0 2px;
	border: 2px solid #000;
	padding: 0;
	height: 100%;
}
#ammo td:nth-child(1) > div {
	background-color: #de4622;
}
#ammo td:nth-child(2) > div {
	background-color: #ca4b21;
}
#ammo td:nth-child(3) > div {
	background-color: #b75120;
}
#ammo td:nth-child(4) > div {
	background-color: #a3561f;
}
#ammo td:nth-child(5) > div {
	background-color: #8f5b1e;
}
#ammo td:nth-child(6) > div {
	background-color: #7c611e;
}
#ammo td:nth-child(7) > div {
	background-color: #68661d;
}
#ammo td:nth-child(8) > div {
	background-color: #546b1c;
}
#ammo td:nth-child(9) > div {
	background-color: #40701b;
}
#ammo td:nth-child(10) > div {
	background-color: #2d761a;
}
#barHolder #fuelBar,
#fuelBox {
	background-color: #ff8533;
}
#alternativeTargetBox,
#slider {
	background-color: red;
}
#mainAmmoBox {
	background-color: #00f;
}
#speedBox,
#targetBox {
	background-color: #198a19;
}
#hitBox {
	background-color: #9e2987;
}
#barHolder {
	height: 20%;
}
#barHolder #extraText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
#barHolder #fuelBar {
	z-index: 2;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	border-style: solid none;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
}
#slider {
	height: 100%;
}
#fuelPercent {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
}
#fuelPercent:after {
	content: '%';
}
#bestscore,
#score {
	float: left;
	margin: 0 auto;
	width: 50%;
}
#score:before {
	display: block;
	content: 'HITS';
}
#bestscore:before {
	display: block;
	content: 'BEST';
}
.addition {
	position: absolute;
	width: 150%;
	-webkit-animation: move-up 0.8s ease-in;
	animation: move-up 0.8s ease-in;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes move-up {
	0% {
		top: -25px;
		opacity: 1;
	}
	100% {
		top: -75px;
		opacity: 0;
	}
}
@keyframes move-up {
	0% {
		top: -25px;
		opacity: 1;
	}
	100% {
		top: -75px;
		opacity: 0;
	}
}
.speed-ind:after {
	content: 'm/h';
}
